body.admin-menu {
  margin-top: 60px !important;
}

#admin-menu-wrapper {
  font: 12px/60px sans-serif !important;
  background-color: #389fcc;
  height: 60px;
  overflow: hidden;
}

#admin-menu a,
#admin-menu span {
  padding: 0 15px !important;
  margin: 0 !important;
  line-height: 60px;
  border: none !important;
  background-image: none !important;

  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

#admin-menu a:hover {
  background-color: #6ab7d9 !important;
}

#admin-menu li li {
  opacity: 1 !important; /* reset admin_menu opacity */
  filter: Alpha(opacity=100); /* reset admin_menu opacity */
  background-color: #121212;
  background-color: rgba(0,0,0,0.85) !important;
}

#admin-menu li li a,
#admin-menu li li span {
  color: #fff !important;
  font-size: 12px;
}

#admin-menu li li span,
#admin-menu li li a {
  color: #389fcc;
  padding: 10px !important;
  line-height: 22px;
}

/* expandables */
#admin-menu li li.expandable {
  background-image: none !important; /* reset admin_menu icon */
}

#admin-menu li li.expandable ul {
  margin: -42px 0 0 160px !important;
}

#admin-menu .dropdown li li.expandable:hover a {
  color: #389fcc;
}

#admin-menu li li.expandable:hover a,
#admin-menu li li.expandable:hover li.expandable:hover a {
  border: none; /* reset admin_menu border */
}

/* opened */
#admin-menu li.opened > a,
#admin-menu li.opened > a:hover,
#admin-menu li.opened > span,
#admin-menu li.opened > span:hover {
  background-color: #6ab7d9 !important;
  color: #fff !important;
}

/* #admin-menu-icon */
#admin-menu #admin-menu-icon a .admin-menu-home-icon {
  display: block;
  width: 80px;
  opacity: 1;
  background-image: url('drupal-icon.png') !important;
  background-position: 50% -30px;
  background-size: 70px;
  background-repeat: no-repeat;
  padding: 0 !important;

  -webkit-transition: background-position 500ms cubic-bezier(0.940, 0, 0.475, 1); /* older webkit */
  -webkit-transition: background-position 500ms cubic-bezier(0.940, -0.600, 0.475, 1.650);
  -moz-transition: background-position 500ms cubic-bezier(0.940, -0.600, 0.475, 1.650);
  -o-transition: background-position 500ms cubic-bezier(0.940, -0.600, 0.475, 1.650);
  transition: background-position 500ms cubic-bezier(0.940, -0.600, 0.475, 1.650); /* custom */

  -webkit-transition-timing-function: cubic-bezier(0.940, 0, 0.475, 1); /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.940, -0.600, 0.475, 1.650);
  -moz-transition-timing-function: cubic-bezier(0.940, -0.600, 0.475, 1.650);
  -o-transition-timing-function: cubic-bezier(0.940, -0.600, 0.475, 1.650);
  transition-timing-function: cubic-bezier(0.940, -0.600, 0.475, 1.650); /* custom */
}

#admin-menu #admin-menu-icon a:hover .admin-menu-home-icon,
#admin-menu #admin-menu-icon li.opened .admin-menu-home-icon {
  background-position: 50% 15px !important;
}

/* #admin-menu-menu */
#admin-menu #admin-menu-menu {
  position: absolute;
  top: -9999px;
  left: -9999px;
  opacity: 0;
}

#admin-menu.admin-menu-show-menu #admin-menu-menu.dropdown {
  left: 110px;
  top: 0;
  opacity: 1;
}

#admin-menu li li > span {
  color: #333;
}

/* #admin-menu-search */
#admin-menu #admin-menu-search {
  z-index: 1000 !important;
}

#admin-menu #admin-menu-search li.admin-menu-search {
  background: url('search.png') 80% 50% / 24px no-repeat;
  height: 60px;
  width: 60px;
}

#admin-menu #admin-menu-search input {
  height: 40px;
  width: 30px;
  padding: 0;
  margin: 10px 0;
  border: none;
  box-shadow: none;
  border-radius: 0;
  text-indent: -9999px;
  font-size: inherit;
  background-color: transparent;
  color: #fff;
  margin-right: 10px;

  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
}

#admin-menu #admin-menu-search input:hover,
#admin-menu #admin-menu-search input:focus {
  width: 140px;
  padding: 0 10px;
  background-color: #6ab7d9;
  text-indent: 0px;
}

#admin-menu #admin-menu-search input::-webkit-input-placeholder {
  color: #fff !important;
}

#admin-menu #admin-menu-search input:-moz-placeholder {
  color: #fff !important;
}

#admin-menu #admin-menu-search input::-moz-placeholder {
  color: #fff !important;
}

#admin-menu #admin-menu-search input:-ms-input-placeholder {
  color: #fff !important;
}

#admin-menu #admin-menu-search .admin-menu-search-results {
  margin-left: -111px;
}

/* #admin-menu-account */
#admin-menu #admin-menu-account li.admin-menu-account > a {
  position: relative;
  padding-left: 65px !important;
  background: none !important;
}

#admin-menu #admin-menu-account span.menu-bar-picture {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 15px;
  margin-top: -20px !important;
  border-radius: 500px;
  overflow: hidden;
  display: block;
  padding: 0 !important;
}

#admin-menu #admin-menu-account span.menu-bar-picture img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

#admin-menu #admin-menu-account .admin-menu-logout a {
  height: 100%;
  width: 30px;
  display: block;
  text-indent: -9999px;
  background: #2a7799 url('logout.png') 50% 50% / 16px no-repeat !important;
  -webkit-transition: background-color 200ms ease;
  -moz-transition: background-color 200ms ease;
  -o-transition: background-color 200ms ease;
  -ms-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

#admin-menu #admin-menu-account .admin-menu-logout a:hover {
  background-color: #ff6666 !important;
}

@media only screen and (min-width: 1440px) {
  #admin-menu-wrapper {
    font-size: 14px !important;
  }
}

@media only screen and (min-width: 1640px) {
  #admin-menu-wrapper {
    font-size: 16px !important;
  }

  #admin-menu.admin-menu-show-menu #admin-menu-menu.dropdown {
    left: 120px;
  }

  #admin-menu a,
  #admin-menu span {
    padding: 0 20px !important;
  }
}
